body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}
.light {
    background-color: #F3F2F0;
    color: #010101;
}
.light .project-img {
    background-image: url(../img/arrow1.svg);
}
.light .social,
.light .steps-item, 
.light .about-title, 
.light .about-description,
.light .work, 
.light .tarif-item {
    border-bottom: 1px solid #010101;
}
.light .project:hover {
    border-bottom: 2px solid #010101;
}
.light .steps-item:first-child, 
.light .advantages {
    border-top: 1px solid #010101;
}
.light .circle circle {
    fill: #FFFFFF;
}
.light .triangle path {
    fill: #D40000;
}
.light .nav-link {
    color: #010101;
}
.light .nav-info .nav-item::before {
    background-color: rgba(1, 1, 1, 0.2);
}
.light #tabs {
    border-top: 1px solid rgba(1,1,1,0.2);
}
.light .gradient {
    background: linear-gradient(180deg, #E7E6E6 0%, rgba(231, 230, 230, 0) 100%);
}
.light .nav-tabs-link {
    color: rgba(1, 1, 1, 0.4);
}
.light .nav-tabs-item.ui-tabs-active .nav-tabs-link {
    border-bottom: 2px solid #010101;
    color: #010101;
}
.light .advantages-images svg {
    fill: #010101;
}
.light .tarif-list-item::before {
    background: #010101;
}
.light .tech, 
.light .tech-item {
    border: 1px solid rgba(1, 1, 1, 0.3);
}
.dark {
    background-color: #232326;
    color: #F3F2F0;
}
.dark .project-img {
    background-image: url(../img/arrow2.svg);
}
.dark .social,
.dark .steps-item, 
.dark .about-title, 
.dark .about-description,
.dark .work, 
.dark .tarif-item {
    border-bottom: 1px solid #F3F2F0;
}
.dark .project:hover {
    border-bottom: 2px solid #F3F2F0;
}
.dark .steps-item:first-child, 
.dark .advantages  {
    border-top: 1px solid #F3F2F0;
}
.dark .circle circle {
    fill: #D40000;
}
.dark .triangle path, 
.dark .advantages-images svg {
    fill: #F3F2F0;
}
.dark .nav-link {
    color: #F3F2F0;
}
.dark .nav-info .nav-item::before {
    background-color: rgba(243, 242, 240, 0.5);
}
.dark #tabs {
    border-top: 1px solid rgba(243,242,240,0.2);
}
.dark .gradient {
    background: linear-gradient(180deg, #141416 0%, rgba(20, 20, 22, 0) 100%);
}
.dark .nav-tabs-link {
    color: rgba(243, 242, 240, 0.5);
}
.dark .nav-tabs-item.ui-tabs-active .nav-tabs-link {
    border-bottom: 2px solid #F3F2F0;
    color: #F3F2F0;
}
.dark .tarif-list-item::before {
    background: #F3F2F0;
}
.dark .tech, 
.dark .tech-item {
    border: 1px solid rgba(243,242,240,0.3);
}
.wrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.main {
    position: relative;
}
.name {
    font-size: 28px;
    position: relative;
    z-index: 3;
}
.main .title-h1 {
    position: relative;
    z-index: 4;
    margin-top: 40px;
    letter-spacing: 0.03em;
}
.title-h1 {
    font-size: 74px;
    text-transform: uppercase;
}
.title-h3 {
    font-size: 16px;
    font-weight: 700;
}
.photo {
    margin-bottom: 94px;
    width: 100%;
}
header {
    display: flex;
    justify-content: space-between;
    padding-top: 44px;
    padding-bottom: 63px;
}
.nav {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
.nav-item {
    padding-left: 13px;
    padding-right: 16px;
}
.nav-item:first-child {
    padding-left: 0;
}
.nav-item:last-child {
    padding-right: 0;
}
.nav-link {
    text-decoration: none;
    font-size: 14px;
    transition: 0.2s color ease;
}
.nav-link:hover {
    color: #D40000;
}
.nav-info .nav-item {
    position: relative;
}
.nav-info .nav-item::before {
    content: '';
    display: block;
    height: 24px;
    width: 1px;
    position: absolute;
    left: 0;
    top: calc(50% - 12px);
}
.nav-info .nav-item:first-child::before {
    display: none;
}
.social {
    display: flex;
    justify-content: space-between;
    margin-top: 104px;
    padding-bottom: 49px;
}
.social-item:last-child {
    position: relative;
}
.social-item .nav-link {
    font-size: 16px;
}
.social-item .nav-item {
    padding-left: 28px;
    padding-right: 28px;
}
.social-item .nav-item:first-child {
    padding-left: 0;
}
.social-item .nav-item:last-child {
    padding-right: 0;
}
.project {
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 11px;
    border-bottom: 2px solid transparent;
    transition: 0.2s border-bottom ease;
}
.project-img {
    width: 16px;
    height: 12px;
    display: block;
    margin-left: 15px;
}
.skill {
    display: flex;
    padding-top: 47px;
}
.skill .title-h3 {
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin-bottom: 19px;
}
.skill .description {
    line-height: 150%;
    opacity: 0.8;
}
.skill-item {
    flex: 0 0 calc(22% + 5px);
    margin-right: 3%;
}
.section-steps {
    padding-top: 165px;
    padding-bottom: 133px;
}
.steps-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 150%;
    padding-top: 12px;
    padding-bottom: 12px;
}
.steps-title {
    font-size: 28px;
}
.steps-title span {
    margin-right: 39px;
}
.steps-description {
    font-size: 16px;
    flex: 0 0 49%;
    max-width: 49%;
    opacity: 0.8;
}
.triangle {
    position: absolute;
    left: -151px;
    top: -21px;
    z-index: 2;
}
.circle-main {
    width: 253px;
    height: 253px;
    position: absolute;
    left: -128px;
    top: calc(50% - 137px);
    z-index: 1;
}
.circle-nav {
    width: 106px;
    height: 106px;
    position: absolute;
    right: 38px;
    top: calc(50% - 60px);
}
.about {
    display: grid;
    grid-template: 255px / repeat(4, 1fr);
    margin-top: 139px; 
}
.about>p {
    margin: 0;
}
.about-title {
    grid-column: 1/3;
    grid-row: 1/2;
    font-size: 28px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.about-description {
    grid-column: 3/5;
    grid-row: 1/2;
    font-size: 28px;
    line-height: 150%;
    opacity: 0.8;
    padding-left: 10px;
}
.about-01 {
    grid-column: 3/4;
    grid-row: 2/3;
    padding: 47px 50px 0 10px;
}
.about-02 {
    grid-column: 4/5;
    grid-row: 2/3;
    padding: 47px 0 0 15px;
}
.about-03 {
    grid-column: 3/4;
    grid-row: 3/4;
    padding: 33px 50px 0 10px;
}
.about-04 {
    grid-column: 4/5;
    grid-row: 3/4;
    padding: 33px 0 0 15px;
}
.about-item .description {
    font-size: 14px;
    line-height: 150%;
    opacity: 0.8;
    margin-top: 23px;
}
.portfolio {
    margin-bottom: 146px;
    position: relative;
    z-index: 1;
}
.section-portfolio {
    position: relative;
}
.circle-portfolio {
    position: absolute;
    width: 465px;
    height: 465px;
    top: -322px;
    left: 349px;
}
#tabs {
    position: relative;    
}
.nav-tabs {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    position: absolute;
    top: -45px;
}
.nav-tabs-item {
    margin-right: 77px;
}
.nav-tabs-link {
    text-decoration: none;
    font-size: 16px;
    line-height: 150%;
    border-bottom: 2px solid transparent;
    padding-top: 20px;
    padding-bottom: 21px;
    outline: none;
}
.work {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 61px;
    padding-bottom: 59px;
}
.work-item {
    flex: 0 0 49%;
}
.work-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    margin-top: 0px;
    margin-bottom: 39px;
}
.work-list {
    list-style-type: none;
    padding-left: 0;
    font-size: 16px;
    line-height: 150%;
    opacity: 0.8;
    margin-bottom: 40px;
}
.work-list-item {
    margin-bottom: 10px;
}
.work-time {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    opacity: 0.8;
    margin-bottom: 0;
}
.work-thumbs {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 315px;
}
.work-image {
    position: absolute;
    left: -50%;
    top: -50%;
    transform: translate(50%,50%);
    width: 100%;
    height: 315px;
    object-fit: cover;
}
.section-advantages {
    padding-top: 150px;
    padding-bottom: 180px;
}
.advantages-text {
    font-size: 28px;
    line-height: 150%;
    max-width: 872px;
    padding-bottom: 51px;
}
.advantages {
    display: grid;
    grid-template: repeat(2, 1fr)/repeat(3, 1fr);
    grid-gap: 80px 22px;
    padding-top: 81px;
}
.advantages-item {
    display: flex;
    align-items: center;
}
.advantages-item .title-h3 {
    margin-bottom: 0;
    margin-top: 0;
}
.advantages-images {
    margin-right: 40px;
}
.advantages-images svg {
    width: 40px;
    height: 40px;
}
.advantages-description {
    line-height: 150%;
    opacity: 0.8;
    margin-top: 11px;
    margin-bottom: 0;
    margin-right: 40px;
}
.tech {
    display: grid;
    grid-template: 148px 148px/repeat(4, 1fr);
    text-align: center;
}
.tech-item {
    /*border-bottom: 1px solid rgba(243,242,240,0.3);
    border-right: 1px solid rgba(243,242,240,0.3);*/
    display: flex;
    justify-content: center;
    align-items: center;
}
/*.html, .css, .js, .jquery {
    border-top: 1px solid rgba(243,242,240,0.3);
}*/
.tech-image {
    filter: grayscale(100%);
    transition: 0.2s ease;
    opacity: 0.3;
}
.dark .tech-item:hover {
    border: 1px solid rgba(243,242,240,1);
}
.light .tech-item:hover {
    border: 1px solid rgba(1, 1, 1, 0.5);
}
.tech-item:hover .tech-image {
    filter: grayscale(0);
    opacity: 1;
}
.ui-tooltip {
    background-color: #E31B1B;
    border-color: #E31B1B!important;
    border-radius: 0;
    text-align: center;
    box-shadow: none!important;
    font-size: 10px;
    color: rgba(243, 242, 240, 0.8);
    max-width: 232px;
    line-height: 150%;
    padding: 20px;
    box-sizing: border-box;
}
.ui-tooltip-content::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -20px;
    width: 2px;
    border: 10px solid transparent;
    border-bottom: 10px solid #E31B1B;
}
.section-tarif {
    padding-top: 148px;
    padding-bottom: 20px;
}
.tarif {
    display: grid;
    grid-template: 276px repeat(3, 363px)/ 1fr 1fr;
}
.tarif-item {
    padding-top: 60px;
}
.tarif-item:nth-child(7), 
.tarif-item:last-child {
    border-bottom: 1px solid transparent;
}
.tarif-item:nth-of-type(even) {
    padding-left: 12px;
}
.tarif-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-top: 0;
}
.tarif-description {
    font-size: 28px;
    line-height: 150%;
    opacity: 0.8;
    padding-top: 0;
}
.tarif-name {
    font-size: 28px;
    line-height: 150%;
    margin: 0;
}
.tarif-text {
    font-size: 16px;
    line-height: 150%;
    opacity: 0.8;
    margin-top: 20px;
}
.tarif .project {
    display: inline-flex;
    margin-top: 62px;
}
.tarif-pack {
    font-size: 16px;
    line-height: 150%;
    font-weight: 700;
    margin: 0;
}
.tarif-list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    padding-top: 20px;
}
.tarif-list-item {
    position: relative;
    padding-left: 14px;
    font-size: 16px;
    line-height: 200%;
    opacity: 0.8;
}
.tarif-list-item::before {
    content: "";
    position: absolute;
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    left: 0;
    top: calc(50% - 2px);
}
.tarif-price {
    font-weight: 700;
    font-size: 42px;
    line-height: 150%;
}